*, *:before, *:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
a { text-decoration: none; }

.container {
  width: 1280px;
  display: flex;
  margin: 0 auto;
}

header .container {
  flex-direction: column;
  gap: 18px;
  margin-bottom: 48px;
}

.header-logo a {
  font-size: 80px;
  line-height: 1.2;
  color: #000;
}

.header-logo a .colored {
  color: #4bc9ff;
}

header .header-menu .header-menu-list {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  list-style: none;
  gap: 1px;
}

header .header-menu .header-menu-list-item {
  background-color: #35444F;
}

header .header-menu .header-menu-list-item a{
  display: inline-block;
  color: #fff;
  padding: 26px 38px 19px;
  font-size: 24px;
  line-height: 1.17;
}

header .header-menu .header-menu-list-item a:hover,
header .header-menu .header-menu-list-item a:focus {
  background-color: #222F3A;
  transition: 0.4s;
}

.header-menu-list-item:first-child,
.header-menu-list-item:last-child {
  flex-grow: 1;
}

.body.container {
  justify-content: space-between;
  gap: 52px;
  align-items: flex-start;
}

aside {
  border: 1px solid #000;
}

aside .side-bar-list {
  width: 344px;
}

.side-bar-list .side-bar-item a{
  display: inline-block;
  font-size: 27px;
  line-height: 1;
  color: #495863;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 44px;
}

.side-bar-list .side-bar-item:hover,
.side-bar-list .side-bar-item:focus {
  padding-left: 30px;
  background-color: #DBDBDB;
  transition: 0.4s;
}

.side-bar-list .side-bar-item:hover a,
.side-bar-list .side-bar-item:focus a {
  color: #000;
  transition: 0.4s;
}

.content-box {
  margin-bottom: 37px;
  width: 886px;
  height: 530px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-img {
  width: 320px;
  height: 380px;
  background-image: url(../img/top1-img\ 1.svg);
}

.main-img:hover,
.main-img:focus {
  transform: scale(1.1);
  transition: 0.6s;
}

.main-desr {
  margin-bottom: 34px;
  font-size: 18px;
  line-height: 1.33;
  color: #000;
}

footer.container {
  justify-content: space-between;
  padding: 20px 40px;
  margin-bottom: 30px;
  background-color: rgba(99, 105, 110, 0.48);
  font-size: 24px;
  line-height: 1;
  color: #000;
}

footer .footer-list {
  display: flex;
  gap: 36px;
  vertical-align: baseline;
}

.footer-list .footer-list-item a {
  font-size: 28px;
  line-height: 1;
  color: #000;
  padding-bottom: 6px;
}

.footer-list .footer-list-item a:focus,
.footer-list .footer-list-item a:hover{
  border-bottom: 1px solid #068cc5;
  color: #068cc5;
  transition: 0.6s;
}


.test {
  width: 400px;
  height: 400px;
  position: relative;
  border: 1px solid #000;
}

.square {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid #000;

}