html  { 
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
body { margin: 0; }
img { 
	max-width: 100%;
}
a { text-decoration: none; }
*,*:before,*:after { box-sizing: inherit; }

.uppercase {
	text-transform: uppercase 
}
.header-container {
	width: 696px;
	margin: 0 auto;
}

.main-container, .footer-container {
	width: 1146px;
	margin: 0 auto;
}

.menu-list {
	padding: 0;
	font-size:0px;
}

.header-menu .menu-item {
	display: inline-block;
}

.header-menu .menu-item a{
	display: inline-block;
	padding: 26px 36px;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: #FF0000;
	letter-spacing: 2.7px;
}

.header-menu .menu-item a:hover{
	color: #000;
}

.header-menu .menu-item:nth-child(3) a{
	padding-right: 25px;
}

.header-menu .menu-item:last-child a {
	padding-left: 25px;
}

.hero-image {
	margin-bottom: 50px;
	height: 790px;
	background-image: url(../images/image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

main .content-title {
	text-align: center;
	width: 774px;
	margin: 0 auto 38px;
	font-size: 22px;
	line-height: 26px;
	font-weight: 700;
	letter-spacing: 3.3px;
}

main .content-text {
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 2.4px;
}

main .content-text:first-of-type {
	margin-bottom: 28px;
}

main .content-text:first-of-type + p {
	margin-bottom: 66px;
}

.button-wrap {
	text-align: center;
	margin-bottom: 82px;
}

.button {
	padding: 18px 44px;
	background: #FF0000;
	border-width: 0;
	border-radius: 4px;
	color: #fff;
	font-weight: 700;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 1.8px;
	cursor: pointer;
}

.button:hover {
	color: #000;
}

.copyright {
	text-align: right;
	padding-right: 3%;
	margin-bottom: 29px;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.5px;
	letter-spacing: 2.4px;
}
