html {
  box-sizing: border-box
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: url(../img/background\ 1.png) no-repeat;
  background-size: cover;
  color: #fff;
  height: 100vh;
}

img {
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 20px;
}

header .header-logo {
display: flex;
}

header .header-logo:hover .logo-descr,
header .header-logo:focus .logo-descr {
  color: #F26522;
  /* transition: all 0.2s linear; */
}

header .header-logo:hover .logo-img.white,
header .header-logo:focus .logo-img.white {
  display: none;
}

header .header-logo:hover .logo-img.orange,
header .header-logo:focus .logo-img.orange {
  display: block;
  transition: all 0.2s linear;
}

header .header-logo .logo-img.white {
  background-image: url(../img/logo\ 3.svg);
  background-repeat: no-repeat;
  width: 53px;
  height: 47px;
}

header .header-logo .logo-img.orange {
  display: none;
  background-image: url(../img/logo\ orange.png);
  background-repeat: no-repeat;
  width: 53px;
  height: 47px;
}

header .header-logo .logo-descr {
  padding-left: 8px;
}

header .header-logo .logo-descr .big-fz {
  font-size: 29px;
  margin-bottom: 5px;
  line-height: 1.2;
}

header .contacts {
  display: flex;
  flex-direction: column;
}

.contacts .email {
  margin-bottom: 18px;
}

.contacts .tel {
  text-align: right;
}

header .email:hover,
header .tel:hover,
header .email:focus,
header .tel:focus {
  color: #F26522;
  transition: all 0.2s linear;
}

/* MAIN */

main .tours-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .tours-list .tour-card .card-link {
  width: 300px;
  font-size: 0;
}

.tours-list .card-link .card-title {
  padding-top: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 1;
}

main .tours-list .tour-card {
  position: relative;
  margin-bottom: 36px;
}

main .tours-list .card-image {
  border: 2px solid #000;
  border-image: linear-gradient(to top, #000, #fff);
  border-image-slice: 1;
  overflow: hidden;
}

main .tours-list .tour-card:nth-child(3n) {
  margin-right: 0;
}

main .tours-list .tour-card:nth-last-child(-n+3) {
  margin-bottom: 48px;
}

.tours-list .tour-card .hidden-menu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 42px;
}

.tours-list .tour-card:hover .hidden-menu,
.tours-list .tour-card:focus .hidden-menu {
  display: flex;
  justify-content: space-between;
  background-color: #F26522;
  height: 56px;
  transition: all 0.2s linear;

}

.tours-list .hidden-menu .price-from {
  padding-bottom: 10px;
  padding-top: 8px;
  padding-left: 16px;
  font-size: 10px;
  line-height: 1;
}

.tours-list .hidden-menu .price-value {
  padding-bottom: 8px;
  padding-left: 16px;
  font-size: 20px;
  line-height: 1;
}

.tours-list .hidden-menu .tour-details {
  padding-right: 38px;
  align-self: flex-end;
  font-size: 14px;
}

.tours-list .hidden-menu .tour-details::after {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  position: relative;
  transform: translate(90px, -12px) rotate(-45deg);
}

/* FOOTER */

footer {
  text-align: center;
  font-size: 12px;
  line-height: 1;
}
