html {
  box-sizing: border-box
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background: #F2F2F2
}

img {
  /* display: block; */
  max-width: 100%;
  /* height: auto; */
}

.relative {
  position: relative;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

.link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.text-uppercase {
  text-transform: uppercase;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-grid {
  display: grid;
}

.linear-transition {
  transition: all 0.2s linear;
}

.btn {
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 1.36;
  border-radius: 4px;
  color: #fff;
}

.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 27px;
  line-height: 1.36;
}

.blue {
  color: #18B4CF;
}
.section-content.white {
  color: #fff;
}

/* HEADER */

header .d-flex{
  background-color: #313131;
}

header .header-logo .logo-img {
  width: 28px;
  height: 28px;
  margin: 22px 28px;
  background-image: url(../img/header/logo-img\ 1.svg);
  background-repeat: no-repeat;
}

header .header-logo .logo-label {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.36;
}

header .header-menu .menu-list {
  justify-content: center;
}

header .header-menu .menu-list .menu-list-item:not(:last-child) {
  margin-right: 34px;
}

header .header-menu .menu-list .menu-list-item a {
  font-size: 15px;
  line-height: 1.36;
}

header .header-menu .menu-list .menu-list-item a:hover {
  color: #14B9D5;
}

header .searcher {
  padding: 26px;
  background-color: #000;
}

/* MAIN */

/* Section Latest News */

main .latest-news {
  background-image: url(../img/header-bg.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 62%;
  background-size: cover;
  position: relative;
  flex-direction: column;
  padding-top: 164px;
  padding-bottom: 74px;
}

main .latest-news::before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  background-color: rgba(0, 0, 0, 0.5);  /* why it doesn't work? */
	z-index: 1;
}

main .latest-news .section-title {
  color: #fff;
}

.latest-news .section-content .btn:first-child {
  background-color: #89CA62;
  padding: 16px 20px;
  margin-right: 16px;
}

.latest-news .section-content .btn:last-child {
  background-color: #14B9D5;
  padding: 16px 30px;
}

/* Section Popular Posts */

main .popular-posts header {
  padding: 50px 0;
}

main .popular-posts {
  flex-direction: column;
}

.popular-posts .section-content .cards-list{
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  height: 824px;
  width: 100%;
  gap: 30px;
  margin-bottom: 72px;
}

.popular-posts .card-item .card-descr {
  padding: 20px 16px;
  background-color: #fff;
}

/* Section Popular Posts */

.popular-clients {
  background-image: url(../img/parallax-bg.jpeg);
  background-attachment: fixed;

  min-height: 588px;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: cover;
  position: relative;
  align-items: center;
	grid-template-columns: 100%;
  grid-template-rows: repeat(2, 1fr);

}

.popular-clients .section-title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  line-height: 1.34;
  padding-top: 32px;
}

.popular-clients .section-title::after {
  content: '';
  display: block;
  width: 60px;
  border-bottom: 3px solid #18B4CF;
  padding-bottom: 88px;
  margin: 0 auto;
}

.popular-clients .clients-list {
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
  width: 880px;
  margin: 0 auto;
  padding-bottom: 136px;
}

.popular-clients .clients-list .client-item:not(:last-child) {
  padding-right: 54px;
}

/* SECTION TOP-RATED */

.top-rated header {
  padding: 50px 0;
}

.top-rated .top-rated-list {
  grid-template-columns: repeat(7, 1fr);
}

.top-rated .top-rated-list .top-rated-item img {
  width: 100%;
}

/* SECTION HOT-NEWS */

.hot-news header {
  padding: 50px 0;
}

.hot-news .hotel-cards-list {
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 34px;
  grid-row-gap: 40px;
  justify-content: center;
  margin-bottom: 70px;
}

.hot-news .card-item img {
  width: 100%;
}

.hot-news .hotel-cards-list .card-item-content {
  background-color: #fff;
}

.hot-news .hotel-cards-list .card-item:first-child {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 4fr 3fr;
}

.hot-news .hotel-cards-list .card-item:nth-child(2) {
  grid-column-start: 4;
  grid-column-end: 5;
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.hot-news .hotel-cards-list .card-item:nth-child(3),
.hot-news .hotel-cards-list .card-item:nth-child(5) {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
}
.hot-news .hotel-cards-list .card-item:nth-child(4),
.hot-news .hotel-cards-list .card-item:nth-child(6) {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 5;
}
.hot-news .hotel-cards-list .card-item:nth-child(7) {
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  grid-template-rows: 3fr 1fr;
}
.hot-news .hotel-cards-list .card-item:last-child {
  grid-column-start: 2;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: 4fr 3fr;
}

.hot-news .card-item .card-title {
  padding: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.36;
  color: #353A3D;
}

.hot-news .card-item .card-desc {
  margin-right: 15px;
  font-size: 14px;
  line-height: 1.5;
  color: #5B6469;
  text-align: right;
}

/* FOOTER */

footer {
  background-color: #000;
}

footer .footer-content {
  align-items: center;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 30px 0;
}

footer .rights {
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
}

