html {
  box-sizing: border-box
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  line-height: 1;
}

a {
  text-decoration: none;
}

.btn {
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.background {
  background-image: url(../images/background.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
	min-width: 100vw;
	min-height: 100vh;
	position: relative;

}

.container {
  width: 1208px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

/* /////////////// HEADER ////////////// */

header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .4);
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  color: #fff;
}

header a {
  color: #fff;
}

header a:hover,
header a:focus {
  color: #236d47;
}

.header-logo a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
}

.header-menu {
  display: flex;
  align-items: center;
  width: 348px;
  justify-content: space-between;
}

.svg-nav-icon {
  margin-right: 18px;
  display: inline-block;
  width: 22px;
  fill: #fff;
}

.svg-nav-icon:hover,
.svg-nav-icon:focus {
  fill: #236d47;
} 

.header-menu .nav-items {
  position: relative;
}

.header-menu .nav-items a:last-child::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  right: -4px;
  top: 2px;
  opacity: 0.5;
}
/* /////////////// MAIN ////////////// */

main {
  position: relative;
}

.sign-up-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  background-color: #fff;
  padding: 32px 60px;
}

.sign-up-window .wrapper {
  width: 324px;
}

.sign-up-window .sign-up-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.sign-up-window .header-title {
  font-size: 20px;
  color: #434343;
}

.sign-up-window .sign-up-header::before {
  position: absolute;
  content: '';
  left: 0;
  top: 30px;
  width: 18px;
  height: 18px;
  background-color: #3CB878;
}

.sign-up-window .header-login {
  color: #3CB878;
  font-size: 14px;
}

.sign-up-window .header-login:hover {
  text-decoration: underline;
}

.sign-up-window .social-block {
  display: flex;
}

.social-block .btn {
  position: relative;
  flex: 1 0 auto;
  padding: 10px 24px 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-block .btn:first-child {
  margin-right: 4px;
  background-color: #305DB8;
}

.social-block .btn:first-child:hover {
  margin-right: 4px;
  background-color: #022263;
}

.social-block .btn:last-child {
  background-color: #DF4A32;
}

.social-block .btn:last-child:hover {
  background-color: #AB1F09;
}

.social-block .social-icon {
  font-size: 24px;
  font-weight: 700;
}

.social-block .btn:first-child .social-icon::after {
  content: "";
  position: absolute;
  display: block;
  left: 42px;
  top: 0;
  transform: translateY(36%);
  width: 1px;
  height: 28px;
  background-color: #0A162F;
  opacity: 0.1;
} 

.social-block .btn:last-child .social-icon::after {
  content: "";
  position: absolute;
  display: block;
  left: 56px;
  top: 0;
  transform: translateY(36%);
  width: 1px;
  height: 28px;
  background-color: #2B0D09;
  opacity: 0.1;
} 

.social-block .social-name {
  font-size: 16px;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sign-up-window .sub-title {
  position: relative;
  padding: 30px 0 12px 0;
  color: #848484;
  font-size: 14px;
  text-align: center;
}

.sign-up-window .sub-title::before {
  position: absolute;
  content: '';
  height: 1px;
  width: 152px;
  background-color: #F2F2F2;
  top: 68%;
  left: 0;
}

.sign-up-window .sub-title::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 152px;
  background-color: #F2F2F2;
  top: 68%;
  right: 0;
}

.signup-form .input-item {
  width: 100%;
  margin-bottom: 16px;
  padding: 16px 20px;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
}

.signup-form .input-item:focus {
  box-shadow: 0 3px 8px rgba(125, 125, 125, 0.52);
  outline: 0;
  font-size: 14px;
  color: #434343;
}

.signup-form .input-item::placeholder {
  font-size: 14px;
  color: #BEBEBE;
}

/* CHECKBOX */
input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  padding: 20px;
  padding-top: 0;
  cursor: pointer;
  font-size: 14px;
}

input[type="checkbox"] + label::before {
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  border: 1px solid #F2F2F2;
  left: 0px;
  top: 0px;
}

input[type="checkbox"]:checked + label::before {
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  left: 0;
  top: 0;
  background-image: url(../images/check.svg);
  background-size: cover;
	background-position: center center;
  fill: #01813F;
}

/* SUBMIT */
.signup-form .submit {
  width: 100%;
  background-color: #3CB878CC;
  padding: 16px 100px;
}

.signup-form .rules {
  color: #3CB878CC;
}

.signup-form .rules:hover {
  text-decoration: underline;
  color: #01813F;
}

.signup-form .submit:hover {
  background-color: #01813F;
}
