html {
  box-sizing: border-box
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* width: 100%;
	height: 100%; */
  font-family: "Droid Sans", arial, verdana, sans-serif;
  font-weight: 700;
  background-color: #000;
  color: #e9ab00;
  /* overflow: hidden; */
}

.container {
  position: absolute;
  width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(20deg);
}

.star-box {
  position: absolute;
  margin: 0 auto;
  animation: epic-appearing 30s linear infinite;
}

@keyframes epic-appearing {
  0% { top: 100%; }
	100% { top: -100%; }
}